**/bin/
**/obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
Aictionary.sln.DotSettings.user
.DS_Store

# NUKE Build
artifacts/
.nuke/temp/
.tmp
build/bin/
build/obj/

# Keep NUKE configuration
!.nuke/build.schema.json
!.nuke/parameters.json